<h3>Update user information</h3>
<%= simple_form_for @user do |f|%>
  <%= f.input :first_name %>
  <%= f.input :username %>
  <%= f.input :email %>
  <%= f.input :picture_url, as: :file, label: :"Profile picture" %>
  <%= f.input :picture_url_cache, as: :hidden %>
  <%= f.button :submit %>
<% end %>
