<h3>Edit your profile information</h3>
<div class="login-form update-box">
  <%= simple_form_for @user do |f|%>
  <%= f.input :picture_url, as: :file, label: :"Profile picture" %>
  <%= f.input :picture_url_cache, as: :hidden %>
  <%= f.input :first_name %>
  <%= f.input :username %>
  <%= f.input :email %>
  <div class="buttons-new">
  <%= f.button :submit , class: "btn btn-primary btn-lg" %>
  </div>
</div>
<% end %>
