  <div class="background-image-profile" style="background-image: linear-gradient(-225deg, rgba(0,60,20,0.6) 0%, rgba(0,36,80,0.6) 50%), url(<%= image_url 'background-planning-trip.jpg' %>);">
    <div class="container container-box-user-profile">
      <div class="left-box-user-profile">
        <div>
          <%= cl_image_tag @user.picture_url, height: 230, width: 230, crop: :fill, class: "profile_picture"%>
        </div>
        <div class="KPI">
          <% if User.find(params[:id]).created_routes.joins(:reviews).average(:rating).nil? %>
          <% else %>
            <p class="kpi_info">Routes review:</p>
            <%= User.find(params[:id]).created_routes.joins(:reviews).average(:rating) %>
          <% end %>
          <p class="kpi_info">Distance walked:</p>
          <% @hiked_routes.each do |hiked_route| %>
            <p><%= hiked_route.route.distance %></p>
         <% end %>

          <p class="kpi_info"> Exported routes: </p>
          <%= HikedRoute.where(user_id: @user.id).count %>
        </div>
      </div>
      <div class="right-box-user-profile">
        <div class="user-info">
          <div class="font-weight-bold">
            <p><strong><%= @user.first_name %></strong> </p>
            <p class= "username_profile"><%= @user.username  %></p>
            <% if current_user == @user %>
              <p>email: <strong><%= @user.email %></strong></p>
            <% end %>
          </div>
          <div class="edit_profile">
            <% if current_user == @user %>
              <i class="far fa-edit"><%= link_to "Edit", edit_user_path(current_user), class: "button-edit-profile"%></i>
            <% end %>
          </div>
        </div>
        <div class="routes-user-profile">
          <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#menu1">Created Routes</a></li>
            <% if current_user == @user %>
              <li><a data-toggle="tab" href="#menu2">Exported Routes</a></li>
            <% end %>
            <% if current_user == @user %>
              <li><a data-toggle="tab" href="#menu3">Customized Routes</a></li>
            <% end %>
          </ul>
          <div class="tab-content">
            <div id="menu1" class="tab-pane fade in active tab-1-profile">
              <% @routes.each do |route| %>
                <% if route.user == @user %>
                  <% @created_route = Route.where(user_id: @user.id).count %>
                  <%= link_to(route_path(route)) do %>
                    <div class="group-card-profile">
                      <div class="card-title-profile"><%= route.city.locality %></div>
                      <div class="overlay-profile"></div>
                      <div class=" mini-banner-profile" style="background-image: url('<%= image_url 'card-example.jpg' %>');">
                      </div>
                      <div class="card-route-profile"><%= route.name %></div>
                      <div class="card-route-profile"><%= route.distance %> km</div>
                      <div class="card-route-profile">
                        <% route.avg_rating.round.to_i.times do %>
                          <i class="fas fa-star"></i>
                        <% end %>
                        <% (5 - route.avg_rating).round.to_i.times do %>
                          <i class="far fa-star"></i>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
              <div id="menu2" class="tab-pane fade">
                <%@hiked_routes.each do |h_route| %>
                  <%= link_to(route_path(h_route)) do %>
                    <div class="group-card-profile">
                      <div class="card-title-profile"><%= h_route.route.city.locality %></div>
                      <div class="overlay-profile"></div>
                      <div class=" mini-banner-profile" style="background-image: url('<%= image_url 'card-example.jpg' %>');">
                      </div>
                      <div class="card-route-profile "><%= h_route.route.name %></div>
                      <div class="card-route-profile "><%= h_route.route.distance %> km</div>
                      <div class="card-route-profile">
                      <% h_route.route.avg_rating.round.to_i.times do %>
                        <i class="fas fa-star"></i>
                      <% end %>
                      <% (5 - h_route.route.avg_rating).round.to_i.times do %>
                        <i class="far fa-star"></i>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div id="menu3" class="tab-pane fade">
                <% @customized_routes.each do |route| %>
                  <%= link_to(route_path(route)) do %>
                    <div class="group-card-profile">
                      <div class="card-title-profile"><%= route.city.locality %></div>
                      <div class="overlay-profile"></div>
                      <div class=" mini-banner-profile" style="background-image: url('<%= image_url 'card-example.jpg' %>');">
                      </div>
                      <div class="card-route-profile "><%= route.name %></div>
                      <div class="card-route-profile "><%= route.distance %> km</div>
                      <div class="card-route-profile">
                      <% route.avg_rating.round.to_i.times do %>
                        <i class="fas fa-star"></i>
                      <% end %>
                      <% (5 - route.avg_rating).round.to_i.times do %>
                        <i class="far fa-star"></i>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <div>
    </div>
  </div>
</div>

