<div class="container">
  <div class="box_info">
    <%= cl_image_tag @user.picture_url, height: 150, width: 200, crop: :fill %>
    <div class="font-weight-bold">
        <p><%= @user.first_name %></p>
        <p><%= @user.username %></p>
        <p><%= @user.email %></p>
    </div>
  </div>
  <div class="buttons-new">
    <%= link_to "Edit profile", edit_user_path(current_user), class: "btn btn-primary btn-lg" %>
  </div>
    <!-- <li><%#= @user.picture_url %></li> -->

  <h3>Owned routes</h3>
    <div class="box_info">
    <% @routes.each do |route| %>
      <ul>
      <% if route.user == @user %>
        <li><%= route.name %></li>
        <li><%= route.description %></li>
        <li><%= route.city %></li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <h3>Your walked routes</h3>
  <div class="box_info">
    <ul>
      <% @hiked_routes.each do |hiked_route| %>
      <li><%= hiked_route.name %></li>
      <li><%= hiked_route.description %></li>
      <li><%= hiked_route.city %></li>
      <% end %>
    </ul>
  </div>
</div>
