<% @routes.each do |route| %>
<%= link_to(route_path(route)) do %>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-image col-sm-offset-0" style="background-image: url(<%= image_url 'crete.jpg' %>)"></div>
      <div class="card-details col-sm-offset-6">
        <div class="card-name"><%= route.name %></div>
        <div class="card-description"><%= route.description %></div>
        <div class="card-owner"><%= route.user.first_name %></div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
