<% card_counter = 1 %>
<% if !@routes.nil? %>
  <% @routes.each do |route| %>
    <div class="card">
      <div class="row">
        <div class="col-sm-12">
          <div class="card-image col-sm-6 col-sm-offset-0">
            <div id="myCarousel-<%= card_counter %>" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <% list_counter = 0 %>
                <% route.route_pictures.each do |rp| %>
                  <% if list_counter == 0 %>
                    <li data-target="#myCarousele-<%= card_counter %>" data-slide-to="<%= list_counter %>" class="active"></li>
                    <% list_counter += 1 %>
                  <% else %>
                    <li data-target="#myCarousele-<%= card_counter %>" data-slide-to="<%= list_counter %>"></li>
                    <% list_counter += 1 %>
                  <% end %>
                <% end %>
              </ol>

              <!-- Pictures -->
              <div class="carousel-inner">
                <% picture_counter = 0 %>
                <% if route.route_pictures.nil? %>
                  <div class="carousel-image item active">
                      <%= image_url "http://via.placeholder.com/300x400" %>
                    </div>
                <% else %>
                  <% route.route_pictures.each do |rp| %>
                    <% if picture_counter == 0 %>
                      <div class="carousel-image item active">
                        <%= image_tag rp.route_picture.url %>
                        <% picture_counter += 1 %>
                      </div>
                    <% else %>
                      <div class="carousel-image item">
                        <%= image_tag rp.route_picture.url %>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousele-<%= card_counter %>" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel-<%= card_counter %>" data-slide="next">
              <% card_counter += 1 %>
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            </div>
          <%= link_to(route_path(route)) do %>
            <div class="card-details col-sm-offset-6">
              <div class="card-name card-name-and-city">
                <div class=""><%= route.name %></div>
                <div class=""><%= route.city.locality %></div>
              </div>
              <div class="my-flex-space-between">
                <div class="card-owner"><p>by <%= route.user.first_name %></p></div>
                <div>
                  <% route.avg_rating.round.to_i.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% (5 - route.avg_rating.round.to_i).times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                </div>
              </div>
              <% unless route.public %>
                <div class="card-hashtags"><p><strong>***CUSTOMIZED***</strong></p></div>
              <% end %>
              <div class="card-description"><%= route.description %></div>
              <div class="route-details">
                <p id="route-length"><%= route.distance%> km</p>
                <% if route.time.nil? || route.time == 0 %>
                   <p id="route-duration">0 min </p>
                <% else %>
                  <p id="route-duration"><%= (route.time / 60).to_i %> h <%= (route.time % 60).round %> min </p>
                <% end %>
                <p id="route-nr-exports"><%= route.no_exports %> x hiked</p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="card">
    <div class="row">
      <div class="col-sm-12">
        <h4>Sorry mate! No route matches your filter options</h4>
      </div>
    </div>
  </div>
<% end %>
