<div class="container">
  <div class="row">
    <div class="filterbox">
        <%= form_tag filtered_routes_path, method: "get", class: "form-inline", remote: true do %>
          <%= label_tag "Max Duration" %>
          <div id="timevar">Duration</div>
          <%= range_field_tag 'time', params[:time], in: 0...360, step: 10%>
          <%= label_tag "Max Distance" %>
          <div id="distancevar">Distance</div>
          <%= range_field_tag 'distance', params[:distance], in: 0...30, step: 1%>
          <%#= text_field_tag :distance, params[:distance], class: "form-control style-text", placeholder: "Search for distance" %>
          <%= label_tag "City" %>
          <%= select_tag :city, options_for_select(@cities.collect{|u| [u.locality]}, params[:locality].to_i)%>
          <%= label_tag "Min Rating" %>
          <%= select_tag :rating, options_for_select([["0",0.00],["1",1.00],["2",2.00],["3",3.00],["4",4.00],["5",5.00]], params[:rating].to_i)%>
          <%= submit_tag "Filter", name: nil %>
        <% end %>
    </div>
  </div>
</div>
