<div class="landing-page" style="min-height: calc(100vh - 90px); padding: 0px; margin: 0px">

  <%= render 'pages/landing-video' %>

</div>

<!-- <div class="flex-header-home">
  <h2><i class="far fa-arrow-alt-circle-down"></i>&nbsp;&nbsp;&nbsp;&nbsp;Check out our recommended Hikes&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-arrow-alt-circle-down"></i></h2>
</div> -->

<div class="carousel">
  <h1>Check out our recommended hikes in ...</h1>
  <div id="wrapper-carousel">
    <div id="image-carousel">
      <div class="image i1" style="background-image: linear-gradient(-225deg, rgba(0,60,20,0.4) 0%, rgba(0,36,80,0.4) 50%), url(<%= image_url 'crete.jpg' %>)">
        <h3>Crete</h3>
      </div>
      <div class="image i1" style="background-image: linear-gradient(-225deg, rgba(0,60,20,0.4) 0%, rgba(0,36,80,0.4) 50%), url(<%= image_url 'hamburg.jpg' %>)">
        <h3>Hamburg</h3>
      </div>
      <div class="image i2" style="background-image: linear-gradient(-225deg, rgba(0,60,20,0.4) 0%, rgba(0,36,80,0.4) 50%), url(<%= image_url 'munichcity.jpg' %>)">
        <h3>Munich</h3>
      </div>
      <div class="image i3" style="background-image: linear-gradient(-225deg, rgba(0,60,20,0.4) 0%, rgba(0,36,80,0.4) 50%), url(<%= image_url 'sanfrancisco.jpg'%>)">
        <h3>San Francisco</h3>
      </div>
      <div class="image i4" style="background-image: linear-gradient(-225deg, rgba(0,60,20,0.4) 0%, rgba(0,36,80,0.4) 50%), url(<%= image_url 'paris.jpg' %>)">
        <h3>Paris</h3>
      </div>
      <div class="image i5" style="background-image: linear-gradient(-225deg, rgba(0,60,20,0.4) 0%, rgba(0,36,80,0.4) 50%), url(<%= image_url 'newyork.jpg' %>)">
        <h3>New York</h3>
      </div>
      <div class="image i6" style="background-image: linear-gradient(-225deg, rgba(0,60,20,0.4) 0%, rgba(0,36,80,0.4) 50%), url(<%= image_url 'rome.jpg' %>)">
        <h3>Rome</h3>
      </div>
      <div class="image i7" style="background-image: linear-gradient(-225deg, rgba(0,60,20,0.4) 0%, rgba(0,36,80,0.4) 50%), url(<%= image_url 'madrid.jpg' %>)">
        <h3>Madrid</h3>
      </div>
        <div class="image i8" style="background-image: linear-gradient(-225deg, rgba(0,60,20,0.4) 0%, rgba(0,36,80,0.4) 50%), url(<%= image_url 'london.jpg' %> 'assets/london.jpg')">
        <h3>London</h3>
      </div>
    </div>
  </div>
</div>
<%#= render 'shared/cards-small', routes: @routes %>
</div>


