<div class="landing-page-banner" style="background-image: linear-gradient(-225deg, rgba(20,20,20,0.6), rgba(20,20,20,0.6)), url('https://res.cloudinary.com/dmatmwg2i/image/upload/f_auto,q_auto/v1529446235/Assets/background-planning-trip.jpg')">
  <div class="bo-align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-xl-6 col-xl-offset-3">
          <div>
            <h4 class="landing-page-banner-slogan">Get inspired on your journey</h4>
              <%= form_tag routes_path, method: :get do %>
            <div class="landing-page-search-bar">
              <%= text_field_tag :query, params[:query], class: "form-control style-text", placeholder: "Search for a city ..." %>
              <%= submit_tag "Search", class:"btn btn-primary landing-page-search-button" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container-fluid">
  <div class="landing-page-grid">
    <div class="landing-page-city-grid">
      <% @cities.each do |city| %>
        <%= link_to routes_path(query: city.locality) do %>
          <div class="landing-page-city" style="background-image: linear-gradient(-225deg, rgba(20,20,20,0.4), rgba(20,20,20,0.4)), url(<%= cloudinary_url(city.photo.file.filename, :width=>600, :quality=>"auto", :fetch_format=>:auto, :crop=>"scale") %>)">
            <h2><%= city.locality %></h2>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="landing-page-map-grid">
      <div class="landing-page-map"
        id="map"
        style="width: 100%;
        height: calc(100vh - 110px);"
        data-markers="<%= @landing_page_markers.to_json %>"
      ></div>
    </div>
  </div>
</div>

<br>
