

<div class="edit-container">
  <div class="row">
    <div class="grid-container">
      <div class="col-xs-5 col-sm-6 col-lg-4 edit-view">
        <div class="current-sights edit-card">
          <h4>Sightseeing items:</h4>
            <% Waypoint.where(route_id: @route.id).each do |w| %>
              <ul class="list-inline">
                <li><%= w.sight.name%></li>
                <li><%= button_to "Delete", route_sight_path(@route, w.sight), method: :delete, class:"delete-button"%></li>
              </ul>
            <% end %>
        </div>
        <div class="search-sights edit-card">
          <h4>Add additional sights</h4>
          <%= simple_form_for [@route, @sight] do |f| %>
            <%= f.input :search %>
            <%= f.input :name, as: :hidden %>
            <%= f.input :place_id, as: :hidden %>
            <%= f.input :url, as: :hidden %>
            <%= f.input :website, as: :hidden %>
            <%= f.input :formatted_address, as: :hidden %>
            <%= f.button :submit, class:"create-sight-btn" %>
            <%#= link_to 'Create Sight', route_sights_path(@route), :class => "create-sight-btn btn btn-primary" %>
          <% end %>
          <ul id="results">
            <div id="current_city" class="hide"><%= @route.city.country.downcase %></div>
            <div id="hidden_infotext" class="hide">
            <div id="hidden_infotext" class="hide"><% if !@sight.name.nil? %><% @page = Wikipedia.find( @sight.name ) %>@page.title<% end %></div>
          </ul>
        </div>
        <div class="info-sights edit-card">
          <h4>Info</h4>
          <% if !@route.sights.empty? %>
            <% @page = Wikipedia.find( @route.sights.last.name ) %>
            <p id="infotext" class="hide"> ...</p>
            <!--  FOR NOW -->
            <% if !@page.text.nil? %>
              <p class="info_text"><%= @page.text.first(400) %> ...</p>
              <img class="info_image" src="<%= @page.image_urls[1] %>" alt="No image">
              <a href="<%= @page.fullurl%>" class="btn btn-primary">More Info here</a>
            <% else %>
              <h5>Sorry, We got no information about this item ...</h5>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="edit-return-btn">
      <%= link_to "Return", route_path(@route), class: "btn btn-primary" %>
    </div>
  </div>
  <div class="row">
    <div id="map" data-waypoints="<%= @waypoints.to_json %>"></div>
  </div>
</div>

