<h1>Routes#index</h1>
<p>Find me in app/views/routes/index.html.erb</p>

<div class="container">
  <div class="row">
    <% @routes.each do |route| %>
      <%= link_to(route_path(route)) do %>
        <div class="card">
          <div class="col-sm-4 col-sm-offset-0">
            <h4>Route id: <strong> <%= route.id %></strong></h4>
            <h5 class="card-name">Route name:  <strong><%= route.name %></strong></h5>
            <p class="card-description">Route description: <strong><%= route.description %></strong></p>
            <h5 class="card-owner">Route owner: <strong><%= route.user.first_name %> </strong></h5>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
