<h1>Routes#index</h1>
<p>Find me in app/views/routes/index.html.erb</p>
<% count = 1 %>
<% @routes.each do |route| %>
  <h4>Nr.: <%= count %>, Route id: <%= route.id %></h4>
  <h5>Route name:  <%= route.name %></h5>
  <h5>Route description: <%= route.description %></h5>
  <h5>Route owner <%= route.user.first_name %> </h5>
  <% Waypoint.where(route_id: route.id).each do |w| %>
    <ul>
      <li><%=w.sight.name %></li>
    </ul>
  <% end %>
  <% count += 1 %>
  <%= link_to "show", route_path(route) %>
<% end %>

