<div class="container">
  <h1>Add your route for the community</h1>

  <%= simple_form_for(@route) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :city, collection: @cities %>
    <%= f.button :submit %>
  <% end %>
</div>
