<div class="container">
  <h1>Add your route to the city hike's community</h1>

  <%= simple_form_for(@route) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <div class="form-inline city-form">
      <div id="city-form">
        <%= f.input :city, collection: @cities, :label_method => :locality %>
      </div>
      <%= link_to "Create City", new_city_path, class: "btn btn-primary btn-lg" %>
    </div>
    <%= f.button :submit, class: "btn btn-primary btn-lg" %>
  <% end %>
</div>
