<div class="new-background" style="background-image: linear-gradient(-225deg, rgba(0,60,20,0.6) 0%, rgba(0,36,80,0.6) 50%), url('<%= image_url 'landing-banner.jpg' %>');">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="login-form">
        <h3>Add your route to the city hike's community</h3>
        <%= simple_form_for(@route) do |f| %>
        <%= f.input :city, collection: @cities, :label_method => :locality, class:"form-inline city-form", id:"city-form" %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.fields_for :route_picturesdo |p| %>
                    <div class="field">
                      <%= p.label :route_pictures %><br>
                      <%= p.file_field :route_picture, :multiple => true, name:     "route_pictures[route_pictures][]" %>
                      </div>
        <% end %>
        <div class="buttons-new">
          <%= link_to "Create City", new_city_path, class: "btn btn-primary btn-lg" %>
          <%= f.button :submit, class: "btn btn-primary btn-lg" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
