<div class="container">
  <h1>Add your route to the city hike's community</h1>

  <%= simple_form_for(@route) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :city, collection: @cities, :label_method => :locality %>
    <%= f.button :submit %>
  <% end %>
</div>
