<div class="banner-tiny" style="background-image: linear-gradient(-225deg, rgba(0,60,20,0.6) 0%, rgba(0,36,80,0.6) 50%), url('<%= image_url 'landing-banner-tiny.jpg' %>')";>
</div>
<div class="main-container">
  <div class="route-box">
    <div class="route-header">
      <h3 class="route-name"><strong><%= @route.name %></strong></h3>
      <% unless current_user.nil? %>
        <%= image_tag @route.user.picture_url.url, class: "review-avatar"%>
      <% end %>
    </div>
    <div class="show-btns">
      <%= link_to "Return", routes_path, class: "btn btn-primary" %>
      <%= link_to "Go City Hiking", route_export_path(@route), class: "btn btn-primary btn", style: "width: 40%" %>
      <%= link_to "Edit", edit_route_path(@route), class: "btn btn-primary" %>
      <% if policy(@route).destroy? %>
        <%= link_to route_path(@route), method: :delete, data: {:confirm => 'Are you sure?'}, class:"far fa-trash-alt" do %><% end %>
      <% end %>
    </div>
    <h5 class="route-description"><em><%= @route.description %></em></h5>
    <div class="route-items"><h5>Sightseeing items:</h5></div>
    <ol>
      <% Waypoint.where(route_id: @route.id).each do |w| %>
        <li class="route-points"><%=w.sight.name %></li>
      <% end %>
    </ol>
    <h5 class="route-information">Route information:</h5>
      <div class="route-information-box">
        <p><%= @route.distance %> km</p>
        <div>
          <% @route.avg_rating.round.to_i.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5 - @route.avg_rating).round.to_i.times do %>
            <i class="far fa-star"></i>
          <% end %>
        </div>
      </div>
      <div class="route-information-box">
        <% if @route.time.nil? || @route.time == 0 %>
          <p>0 min</p>
        <% else %>
          <p><%= (@route.time / 60).to_i %> h <%= (@route.time % 60).round %> min </p>
        <% end %>
        <p><%= @route.no_exports %> x hiked</p>
      </div>
    <h5 class="route-owner">Ask <strong><%= link_to @route.user.username, user_path(@route.user) %></strong> for further tips!</h5>
  </div>
  <div id="map" data-waypoints="<%= @waypoints.to_json %>"></div>
  </div>
</div>
<div class="main-container">
  <div class="review-container">
    <h4>How did you like the tour? Do you have any suggestions?</h4>
    <%= render 'reviews/form', route: @route, review: @new_review  %>
    <div class="show-review-box" id="show-review-box">
      <% @reviews.reverse.each do |review| %>
        <%= render 'reviews/show', r: review, route: @route%>
      <% end %>
    </div>
</div>

<div data-id="<%= @route.id %>" id="data-edit">
</div>

