<div class="container">
  <h1>Add a new city</h1>

  <%= simple_form_for(@city) do |f| %>
    <%= f.input :search %>
    <%= f.input :locality, as: :hidden %>
    <%= f.input :country, as: :hidden %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit %>
  <% end %>

  <ul id="results">
    <div id="current_city"></div>
  </ul>
</div>
