<div class="review" id="reviews">
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 review-user-avatar">
      <% unless current_user.nil? %>
        <%= image_tag r.user.picture_url.url, class: "review-avatar" %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 review-user-name review-content">
      <%= link_to user_path(r.user) do %>
        <p><%= r.user.username %></p>
      <% end %>
      <% if r.user == current_user %>
        <%= link_to route_review_path(route, r), method: :delete do %>
          <i class="far fa-trash-alt abled-review-trash"></i>
        <% end %>
      <% else %>
          <i class="far fa-trash-alt disabled-review-trash"></i>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-2 review-rating review-content">
      <% r.rating.to_i.times do %>
        <i class="fas fa-star"></i>
      <% end %>
      <% (5 - r.rating.to_i).times do %>
        <i class="far fa-star"></i>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-6 review-comment review-content">
      <p><%= r.content %><p>
    </div>
  </div>
</div>
