<div class="export-background" style="background-image: url('<%= image_url 'background-planning-trip.jpg' %>'); background-size: cover">
  <div class="container">
    <div class="export-container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="export" id="export-header">
            <h1>Export route</h1>
            <p>When you export the route you will receive a link to the route on Google Maps</p>
          </div>
          <div class= "export" id="export-info">
            <h1><%= @route.name %></h1>
            <h3><%= @route.city.locality %></h3>
            <table class="export">
              <tbody class="export">
                <tr class="export">
                  <td class="export">Rating: 4.3 / 5</td>
                  <td class="export" style="text-align: right;">Distance: 5 km</td>
                </tr>
                <tr class="export">
                  <td class="export">Tags: #architectural #germany #historic #touristic</td>
                  <td class="export" style="text-align: right;">Time: 2 h</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="export-button-area">
            <%= link_to "Return to route", route_path(@route), class: "btn btn-primary export-button" %>
            <a href=" <%= @gmaps_url %> " target="_blank" class="btn btn-primary export-button">Open with Google Maps</a>
            <%= button_to "Send route to my email", route_send_route_email_path(@route), class: "btn btn-primary export-button" %>
            <%= button_to "Copy route to clipboard", route_send_route_clipboard_path(@route), class: "btn btn-primary export-button" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div id="share-header">
            <h3 style="text-align: center;">Share route with a friend</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1" id="export-box">
          <%= form_tag(route_send_route_friend_path(@route), method: "post", class: "send-route-friend") do %>
          <%= email_field_tag(:friend_email, nil, placeholder: "Your friend's email", class: "invite-friend") %>
          <%= text_field_tag(:friend_name, nil, placeholder: "Your friend's name", class: "invite-friend") %>
          <br>
          <%= submit_tag("Send route", class: "btn btn-primary submit-export-friend") %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
