<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>City Hikes - Your city trip inspiration</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500|Space+Mono" rel="stylesheet"> -->
    <%= favicon_link_tag "city-hikes-logo-green-white-favicon-round.png" %>
    <meta property="og:url"          content="http://www.city-hikes.com" />
    <meta property="og:type"         content="website" />
    <meta property="og:title"        content="City Hikes - Your city trip inspiration" />
    <meta property="og:description"  content="Get inspired by one of our many routes for your next city trip and discover hidden spots with tips of locals."/>
    <meta property="og:image"        content= <%= "image_tag og-city-hikes.jpg" %>/>
  </head>
  <body>
      <%= render 'shared/navbar' %>
      <div style="padding-top: 70px"> <!-- Sticks footer always to bottom and navbar to top  -->
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
